<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset = "UTF-8">
    <!-- style -->

    <link rel="stylesheet" href="/public/stylesheets/style.css">
    <link rel="stylesheet" href="/public/stylesheets/reset.css">
    <link rel="stylesheet" href="/public/stylesheets/font-awesome.css">
    <link rel="stylesheet" href="/public/stylesheets/font-awesome.min.css">


    <!-- favicon-->


  


    <!-- 웹 폰트 -->
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Abel&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Sunflower:wght@300&display=swap" rel="stylesheet">



  </head>
  <body>
    
    <%- nav %>

    

  
    
    

    <main>
      <%- main %>
    </main>

    


    
    <%- footer %>
    


    
    
    
  </body>
</html>
